[core]
	editor = nvim
	autocrlf = false
  pager = delta
[diff]
	tool = nvimdiff
[push]
	default = simple
[pull]
	rebase = false
[init]
	defaultBranch = main
[delta]
  navigate = true
  dark = true
[user]
	name = mspark777
	email = topangel777@gmail.com
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictStyle = zdiff3
