window {
  margin: 0px;
  border: 1px solid #0db9d7;
  background-color: #1a1b26;
}

#input {
  margin: 5px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  border-bottom: 1px solid #ff9e64;
  color: #c0caf5;
  background-color: #1a1b26;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #c0caf5;
}

#entry:selected {
  background-color: #292e42;
}

#entry:selected #text {
  font-weight: bold;
}
